# service는 어떤 Node에도 존재하지 않고 control plane에 저장된 가상 네트워크 규칙이다. node에는 service를 구현한 네트워크 규칙만 존재한다. 
# 각 Node에 kube-proxy를 만들어서 규칙을 생성한다.  ( 처음 만들고 변경될때 마다 규칙을 갱신한다. )
apiVersion: v1
kind: Service
metadata:
  name: frontend-svc # 서비스 이름 http://frontend-svc 이다. 
  namespace: devmeet
spec:
  selector:
    app: frontend # 어떤 pod에 보낼지 설정한다. 
  # service가 노출하는 port이고 타겟팅하는 port는 3000이다. 
  ports:
    - name: http
      port: 80
      targetPort: 3000
  type: ClusterIP